

<div class="curated">

<h1>EADG.Be</h1>
<h2>Guitar videos. Nothing else.</h2>
    <div class="frame-wrapper hidden">
        <div class="frame-wrapper-inner">
            <iframe src="#" id="video" type='text/html' frameborder='0'></iframe>
        </div>
    </div>
    <ul class="video-ul">
        <li ng-repeat="v in d track by $index">
            <div class="inner-wrap" ng-click="showVideo(v.link[0]._href)">
                <a ><img ng-src="{{v.link[0]._href|youtubeImgFromUrl}}" /></a>
                <h3>{{v.title.__text}}</h3>
                <!--span class="attrib">{{v.author.name|attr}}</span-->                
            </div>
        </li>
    </ul>
</div>
